AUTH_API_BASE_URL=http://auth-service:8080
NEXT_PUBLIC_AUTH_API_BASE_URL=http://localhost:8080
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-long-random-local-docker-secret
AUTH_SECRET=replace-with-a-long-random-local-docker-secret
AUTH_TRUST_HOST=true
NEXT_PUBLIC_GUEST_DEFAULT_SERVICE_CATEGORY_ID=svc_cat_housekeeping

AUTH_ADMIN_NAME=VietSage Admin
AUTH_ADMIN_EMAIL=admin@vietsage.vn
AUTH_ADMIN_PASSWORD=admin@vietsage.vn
