{
  "openapi": "3.1.0",
  "info": {
    "title": "KBTT Accommodation Establishment API",
    "version": "1.4-normalized",
    "description": "Agent-ready normalization of the provider PDF for third-party accommodation establishments. The supplied filename says v1.3 while the cover says v1.4 (August 2026). This contract intentionally omits all sample credentials and tokens. Provider business success is determined by JSON body code == \"200\", not HTTP status alone.",
    "x-source": {
      "document": "HD_Tichhop-API-CSLT-v1.3.docx.pdf",
      "coverVersion": "1.4",
      "coverDate": "2026-08",
      "pages": 20,
      "sha256": "fee9fcd523e7e963326cc93e94fe26f0c9e68b4ac42d7fd60eb4000cdc24d195"
    }
  },
  "servers": [
    {
      "url": "https://api-tbltkbtt.bocongan.gov.vn",
      "description": "Production"
    },
    {
      "url": "https://api-kbtt.ai-vlab.com",
      "description": "Provider demo"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Provider token lifecycle."
    },
    {
      "name": "Declarations",
      "description": "Guest declaration submission."
    },
    {
      "name": "Catalogs",
      "description": "Public provider reference catalogs."
    },
    {
      "name": "Domestic stay changes",
      "description": "Departure/extension changes for Vietnamese guests only."
    }
  ],
  "paths": {
    "/authorization-service/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "getKbttToken",
        "summary": "Get access and refresh tokens",
        "security": [
          {
            "providerLoginBasic": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "username",
                  "password",
                  "grant-type"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 1,
                    "writeOnly": true
                  },
                  "grant-type": {
                    "type": "string",
                    "const": "api_cslt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider response. Success requires body.code == \"200\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TokenEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessErrorEnvelope"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/authorization-service/oauth/refresh-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "refreshKbttToken",
        "summary": "Refresh an expiring session",
        "security": [
          {
            "providerTokenBasic": []
          }
        ],
        "parameters": [
          {
            "name": "refresh_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "writeOnly": true
            },
            "description": "RefreshToken from token/refresh response. Redact query strings from logs."
          }
        ],
        "responses": {
          "200": {
            "description": "Provider response. Success requires body.code == \"200\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TokenEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessErrorEnvelope"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/authorization-service/oauth/revoke": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "operationId": "revokeKbttToken",
        "summary": "Revoke an access token",
        "security": [
          {
            "providerTokenBasic": []
          }
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "writeOnly": true
            },
            "description": "AccessToken to revoke. Redact query strings from logs."
          }
        ],
        "responses": {
          "200": {
            "description": "Provider response. Success requires body.code == \"200\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessErrorEnvelope"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/client-service/kbtt/kbtt-3th": {
      "post": {
        "tags": [
          "Declarations"
        ],
        "operationId": "submitForeignTemporaryResidence",
        "summary": "Submit foreign guest temporary-residence declarations",
        "security": [
          {
            "providerBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForeignGuestDeclaration"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider response. Success requires body.code == \"200\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessErrorEnvelope"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-provider-behavior": [
          "Business errors may identify entries by 1-based array position.",
          "No idempotency key or read-back endpoint is documented."
        ]
      }
    },
    "/client-service/kbtt-vn/kbtt-3th": {
      "post": {
        "tags": [
          "Declarations"
        ],
        "operationId": "submitVietnameseStayNotice",
        "summary": "Submit Vietnamese guest stay notices",
        "security": [
          {
            "providerBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DomesticGuestDeclaration"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider response. Success requires body.code == \"200\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessErrorEnvelope"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-provider-behavior": [
          "Business errors may identify entries by 1-based array position.",
          "No idempotency key or read-back endpoint is documented."
        ]
      }
    },
    "/cms-backend/public/dm-qt/3th/get-all": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "operationId": "listNationalities",
        "summary": "List nationality catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Provider catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryCatalogEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/cms-backend/public/dm-tinh-tp/get-all": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "operationId": "listProvinces",
        "summary": "List province/city catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Provider catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvinceCatalogEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/cms-backend/public/ly-do-cu-tru/get-all": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "operationId": "listStayReasons",
        "summary": "List stay-reason catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Provider catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedCatalogEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/cms-backend/public/loai-giay-to/get-all": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "operationId": "listDocumentTypes",
        "summary": "List identity-document type catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Provider catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedCatalogEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/cms-backend/public/noi-cu-tru/get-all": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "operationId": "listResidencePlaces",
        "summary": "List residence-place catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "Provider catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedCatalogEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/cms-backend/public/dm-phuong-xa": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "operationId": "listWardsByProvince",
        "summary": "List ward/commune catalog by province",
        "security": [],
        "parameters": [
          {
            "name": "trucThuocTinh",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "maTT from province catalog."
          }
        ],
        "responses": {
          "200": {
            "description": "Provider catalog envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WardCatalogEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/client-service/kbtt-vn/kbtt-3th/doi-ngay-tra-phong": {
      "post": {
        "tags": [
          "Domestic stay changes"
        ],
        "operationId": "changeVietnameseDeparture",
        "summary": "Record early departure or extend a Vietnamese guest stay",
        "security": [
          {
            "providerBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DomesticDepartureChange"
                },
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider response. Success requires body.code == \"200\".",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessErrorEnvelope"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-source-ambiguity": "Section endpoint uses /kbtt-vn/... while its curl example uses /kbtt/...; this normalization follows the section endpoint and requires provider confirmation before production."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "providerLoginBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "Provider-issued client credential for token login. Never hard-code it."
      },
      "providerTokenBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "Provider-issued client credential for refresh/revoke. Never hard-code it."
      },
      "providerBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "AccessToken returned by get/refresh token."
      }
    },
    "schemas": {
      "TokenSession": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "AccessToken",
          "RefreshToken",
          "TokenType",
          "Exp",
          "Authorities",
          "ClientId",
          "LoaiTK",
          "CsltId",
          "CsltKhuVuc",
          "CsltDonVi",
          "MaTTCuaCslt",
          "MaPxCuaCslt",
          "IsCsltChinh"
        ],
        "properties": {
          "AccessToken": {
            "type": "string",
            "minLength": 1,
            "writeOnly": true
          },
          "RefreshToken": {
            "type": "string",
            "minLength": 1,
            "writeOnly": true
          },
          "TokenType": {
            "type": "string",
            "const": "bearer"
          },
          "Exp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds."
          },
          "Authorities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Must include kbtt:create-3th before declaration submission."
          },
          "ClientId": {
            "type": "integer"
          },
          "LoaiTK": {
            "type": "string",
            "const": "CSLT"
          },
          "CsltId": {
            "type": "string"
          },
          "CsltKhuVuc": {
            "type": "integer"
          },
          "CsltDonVi": {
            "type": "integer"
          },
          "MaTTCuaCslt": {
            "type": "string"
          },
          "MaPxCuaCslt": {
            "type": "string"
          },
          "IsCsltChinh": {
            "type": "boolean"
          }
        }
      },
      "TokenEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string",
            "const": "200"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TokenSession"
          }
        }
      },
      "SuccessEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string",
            "const": "200"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "null"
          }
        }
      },
      "BusinessErrorEnvelope": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string",
            "not": {
              "const": "200"
            }
          },
          "message": {
            "type": "string"
          },
          "data": {}
        },
        "description": "Provider business failure. The transport status may still be HTTP 200."
      },
      "ForeignGuestDeclaration": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hoTen",
          "quocTich",
          "soHoChieu",
          "gioiTinh",
          "loaiNgayThangNamSinh",
          "ngayThangNamSinhStr",
          "ngayDenCsltStr",
          "ngayDiDuKienStr",
          "thoiHanTamTruStr"
        ],
        "properties": {
          "hoTen": {
            "type": "string",
            "minLength": 1,
            "description": "Full name."
          },
          "quocTich": {
            "type": "string",
            "minLength": 1,
            "description": "Provider country code from the nationality catalog; do not assume ISO."
          },
          "soHoChieu": {
            "type": "string",
            "minLength": 1,
            "description": "Passport or identity-document number."
          },
          "gioiTinh": {
            "type": "string",
            "enum": [
              "M",
              "F"
            ]
          },
          "loaiNgayThangNamSinh": {
            "type": "string",
            "enum": [
              "D",
              "Y"
            ],
            "description": "D = full date; Y = year only, represented as YYYY-01-01."
          },
          "ngayThangNamSinhStr": {
            "$ref": "#/components/schemas/Date"
          },
          "ngayDenCsltStr": {
            "$ref": "#/components/schemas/LocalDateTime"
          },
          "ngayDiDuKienStr": {
            "$ref": "#/components/schemas/LocalDateTime"
          },
          "soPhong": {
            "type": "string",
            "description": "Conditionally required for provider-listed accommodation types, including hotels/guesthouses."
          },
          "anhHoChieuB64": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Optional JPEG/PNG passport image."
          },
          "thoiHanTamTruStr": {
            "$ref": "#/components/schemas/LocalDateTime"
          }
        }
      },
      "DomesticGuestDeclaration": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "hoTen",
          "gioiTinh",
          "ngayThangNamSinhStr",
          "ngayDenCsltStr",
          "ngayDiDuKienStr",
          "lyDoCuTru",
          "loaiGiayTo",
          "soGiayTo"
        ],
        "properties": {
          "hoTen": {
            "type": "string",
            "minLength": 1
          },
          "gioiTinh": {
            "type": "string",
            "enum": [
              "M",
              "F"
            ]
          },
          "soDienThoai": {
            "type": "string"
          },
          "ngayThangNamSinhStr": {
            "$ref": "#/components/schemas/Date"
          },
          "ghiChu": {
            "type": "string"
          },
          "noiCuTru": {
            "type": "integer",
            "format": "int64",
            "description": "ID from residence-place catalog."
          },
          "maTT": {
            "type": "string",
            "description": "Province/city code from province catalog."
          },
          "maPX": {
            "type": "string",
            "description": "Ward/commune code from ward catalog."
          },
          "diaChi": {
            "type": "string"
          },
          "ngayDenCsltStr": {
            "$ref": "#/components/schemas/LocalDateTime"
          },
          "ngayDiDuKienStr": {
            "$ref": "#/components/schemas/LocalDateTime"
          },
          "soPhong": {
            "type": "string",
            "description": "Conditionally required for provider-listed accommodation types, including hotels/guesthouses."
          },
          "lyDoCuTru": {
            "type": "integer",
            "format": "int64",
            "description": "ID from stay-reason catalog."
          },
          "lyDoChiTiet": {
            "type": "string",
            "description": "Has value only when lyDoCuTru == 20."
          },
          "loaiGiayTo": {
            "type": "integer",
            "minimum": 1,
            "maximum": 8,
            "description": "ID from document-type catalog."
          },
          "soGiayTo": {
            "type": "string",
            "pattern": "^[A-Za-z0-9]+$",
            "description": "No spaces or special characters; type-specific rules also apply."
          },
          "anhTruocB64": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Optional JPEG/PNG front image. Passport images use this field when loaiGiayTo == 4."
          },
          "anhSauB64": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Optional JPEG/PNG back image."
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "lyDoCuTru": {
                  "const": 20
                }
              },
              "required": [
                "lyDoCuTru"
              ]
            },
            "then": {
              "required": [
                "lyDoChiTiet"
              ],
              "properties": {
                "lyDoChiTiet": {
                  "minLength": 1
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "loaiGiayTo": {
                  "enum": [
                    1,
                    8
                  ]
                }
              },
              "required": [
                "loaiGiayTo"
              ]
            },
            "then": {
              "properties": {
                "soGiayTo": {
                  "pattern": "^[0-9]{12}$"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "loaiGiayTo": {
                  "const": 2
                }
              },
              "required": [
                "loaiGiayTo"
              ]
            },
            "then": {
              "properties": {
                "soGiayTo": {
                  "pattern": "^(?:[0-9]{9}|[0-9]{12})$"
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "loaiGiayTo": {
                  "const": 3
                }
              },
              "required": [
                "loaiGiayTo"
              ]
            },
            "then": {
              "properties": {
                "soGiayTo": {
                  "maxLength": 20
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "loaiGiayTo": {
                  "const": 4
                }
              },
              "required": [
                "loaiGiayTo"
              ]
            },
            "then": {
              "properties": {
                "soGiayTo": {
                  "maxLength": 10
                }
              }
            }
          },
          {
            "if": {
              "properties": {
                "loaiGiayTo": {
                  "const": 6
                }
              },
              "required": [
                "loaiGiayTo"
              ]
            },
            "then": {
              "properties": {
                "soGiayTo": {
                  "maxLength": 20
                }
              }
            }
          }
        ]
      },
      "DomesticDepartureChange": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "loai",
          "soGiayTo",
          "loaiGiayTo"
        ],
        "properties": {
          "loai": {
            "type": "string",
            "enum": [
              "TS",
              "GH"
            ],
            "description": "TS = early departure; GH = extension."
          },
          "soGiayTo": {
            "type": "string",
            "pattern": "^[A-Za-z0-9]+$"
          },
          "loaiGiayTo": {
            "type": "integer",
            "minimum": 1,
            "maximum": 8
          },
          "thoiGianStr": {
            "$ref": "#/components/schemas/LocalDateTime"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": {
                "loai": {
                  "const": "GH"
                }
              },
              "required": [
                "loai"
              ]
            },
            "then": {
              "required": [
                "thoiGianStr"
              ]
            }
          }
        ],
        "x-validation-notes": [
          "No duplicate document numbers in one request.",
          "For GH, the new date cannot exceed 30 days from arrival.",
          "Document-number rules match DomesticGuestDeclaration."
        ]
      },
      "Country": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "maQT",
          "tenQT",
          "tenQTEn"
        ],
        "properties": {
          "maQT": {
            "type": "string"
          },
          "tenQT": {
            "type": "string"
          },
          "tenQTEn": {
            "type": "string"
          }
        }
      },
      "Province": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "maTT",
          "tenTT",
          "tenTTEn"
        ],
        "properties": {
          "maTT": {
            "type": "string"
          },
          "tenTT": {
            "type": "string"
          },
          "tenTTEn": {
            "type": "string"
          },
          "maTTChu": {
            "type": "string"
          }
        }
      },
      "Ward": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "maPhuongXa",
          "tenPhuongXa",
          "tenPhuongXaEn",
          "trucThuocTinh"
        ],
        "properties": {
          "maPhuongXa": {
            "type": "string"
          },
          "tenPhuongXa": {
            "type": "string"
          },
          "tenPhuongXaEn": {
            "type": "string"
          },
          "trucThuocTinh": {
            "type": "string"
          }
        }
      },
      "NamedCatalogItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CountryCatalogEnvelope": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          }
        }
      },
      "ProvinceCatalogEnvelope": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Province"
            }
          }
        }
      },
      "WardCatalogEnvelope": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ward"
            }
          }
        }
      },
      "NamedCatalogEnvelope": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedCatalogItem"
            }
          }
        }
      },
      "Date": {
        "type": "string",
        "format": "date",
        "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
      },
      "LocalDateTime": {
        "type": "string",
        "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$",
        "description": "Provider-local timestamp without timezone. VietSage maps from Asia/Ho_Chi_Minh."
      }
    }
  }
}
